#shadow{
    text-shadow:  -1px 1px black;

}
body{
    background-color: rgb(230, 230, 230) !important;
}
input{
    width: 50px;
}
h1{
    background-color: rgb(42, 87, 154);
    color: white !important;
    font-weight: 200 !important;
    font-size: 26px !important;
    text-align: center;
    width: 100% !important;
}
button{
    height: 30px;
    width: 80px;
}
textarea{
    /* resize: none; */
}
.area{
    background-color: rgb(241, 241, 241);
    width: 900px !important;
}
button{
    border: none;
    border-radius: 8px !important;
}
@font-face {
    font-family: "pacifico";
    src: url(Fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}